#back-to-top {
  width: 10rem;
  right: 0;
  left: auto;
  padding-left: 0 !important;
}

.footer-logos {
  max-width: 400px;
}

.container {
  max-width: 860px;
}

audio {
  max-height: 100%;
  max-width: 100%;
  margin: auto;
  object-fit: contain;
}

@media (min-width:768px) {
  ul.column-list {
    column-count: 2;
    column-gap: 2rem;
  }
}
